/* reset */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, sans-serif;
}

/* navbar */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#111;
color:white;
padding:15px 10%;
}

.logo{
font-size:22px;
font-weight:bold;
}

.menu{
display:flex;
list-style:none;
gap:20px;
}

.menu a{
color:white;
text-decoration:none;
}

/* home */

.home{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#4facfe,#00f2fe);
color:white;
text-align:center;
}

.home h1{
font-size:50px;
margin:10px 0;
}

/* section */

.section{
padding:80px 10%;
text-align:center;
}

.section h2{
font-size:30px;
margin-bottom:20px;
}

/* project */

.project-container{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.project-card{
background:white;
padding:20px;
width:250px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
transition:0.3s;
}

.project-card:hover{
transform:translateY(-5px);
}

/* button */

.btn{
margin-top:20px;
padding:10px 20px;
border:none;
background:#2563eb;
color:white;
border-radius:6px;
cursor:pointer;
}

.btn:hover{
background:#1d4ed8;
}

/* contact */

input{
display:block;
margin:10px auto;
padding:10px;
width:250px;
border:1px solid #ccc;
border-radius:5px;
}

/* footer */

footer{
background:#111;
color:white;
text-align:center;
padding:15px;
margin-top:40px;
}